.body-home{
    /* background-color:red; */

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 40px; 
    margin: 0 auto;
    padding: 100px 0;   */

}