.container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: 0 auto;
    width: 15%;
    height: 35%;
    min-width: 10%;
    

  border-radius: 30px;
  padding: 3% 3%;  
  opacity: 0.9;
  box-shadow: 3px 7px 13px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 3px 7px 13px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 7px 13px 2px rgba(0, 0, 0, 0.6);
  

  .title-card img  {
    .nameHome {
      margin: 0;
    }
    
  }
  .image-card{


    .image{
      width: 200px;
      height: 200px;
      border-radius: 30px;
      object-fit: cover;
    }

  }
  .body-card {
    width: 230px;
    height: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
    .weightHome {
      margin: 0;

    }
    .temp {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 0;
      
      
    }
  }
}
