.footer {
    display: table;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .footer__half {
      width: 50%;
      display: table-cell;
      padding: 100px 140px;
  }
  
  .footer__half-1 {
      background-image: url('https://image.ibb.co/mRGjDm/section_bg_7.jpg');
      background-position: left center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .footer__half-2 {
      background-color: #000;
  }
  
  .footer__big-title {
      margin-top: 0;
      text-transform: uppercase;
      line-height: 40px;
      font-size: 30px;
      margin-bottom: 25px;
      color: #fff;
  }
  
  .footer__title {
      letter-spacing: 1px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
      color: #daa37f;
  }
  
  .footer__desc {
      color: #d7d7d7;
      margin-bottom: 25px;
  }
  /*--------------------------------
  RESPONSIVE
  ---------------------------------*/
  
  @media screen and (max-width:1024px){
    .sect{
      padding:100px 0;
    }
    .row--margin {
      margin-top: 55px;
  }
    .banner__title {
      font-size: 54px;
    }
    .half-sect__first{
      padding:100px;
  
    }
    .three-img__img{
      padding-bottom: 40%;
    }
    .sect--no-bottom{
      padding-bottom:0px !important;
    }
    .footer__half {
      padding: 90px 120px;
    }
    .sect-t-footer{
      display:none;
    }
    .footer{
      position:relative;
    }
  }
  
  
  @media screen and (max-width:991px){
    .sect{
      padding:80px 0;
    }
     .banner__title {
      font-size: 50px;
    }
    .row--margin {
      margin-top: 45px;
  }
    .coffee {
      padding: 0 15px;
    }
    .coffe__img{
      width:100%;
    }
    .half-sect__first {
      padding: 80px;
    }
    .last-articles{
          margin-bottom:30px;
    }
    
    .sect__title, .description__title, .footer__big-title {
      line-height: 38px;
      font-size: 28px;
    }
    .footer__half {
      padding: 60px 90px;
  }
    
  }
  
  @media screen and (max-width:767px){
    .banner__title {
      font-size: 48px;
  }
    .three-img{
      height:auto;
    }
    .sect{
      padding:60px 0;
    }
    .row--margin {
      margin-top: 30px;
  }
    .coffee{
      margin-bottom:30px;
    }
    .coffee__img {
      width: 35%;
    }
    .coffee__descr, .sect__subtitle{
      padding: 0 50px;
    }
    .sect__title, .description__title, .footer__big-title {
      line-height: 36px;
      font-size: 26px;
    }
    .half-sect__first {
      padding: 50px;
    }
    .article-pre{
      margin-bottom:15px;
    }
    .footer__half {
      width: 100%;
      display: block;
      padding: 50px 50px;
    }
      .half-sect {
      display: block;
      height: auto;
    }
    .half {
      width: 100%;
      display: block;
    }
    .half-sect__second{
      padding-bottom:60%;
    }
    
    
  }
  
  @media screen and (max-width:480px){
    .banner__title {
      font-size: 44px;
    }
    .sect{
      padding:50px 0;
    }
    .sect__title, .description__title {
      line-height: 30px;
      font-size: 22px;
      margin-bottom: 15px;
    }
    .sect__subtitle{
      padding:0;
    }
    .coffee__img {
      width: 65%;
    }
    .coffee__descr, .sect__subtitle {
      padding: 0 15px;
    }
    .best--margin {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .row--margin {
      margin-top: 15px;
    }
    .best__img {
      width: 44px;
    }
    .best__title {
      margin-top: 15px;
    }
    .three-img__img {
      padding-bottom: 60%;
      width:100%;
    }
  
    .footer__half {
      padding: 35px 35px;
  }
    .footer__desc {
      margin-bottom: 10px;
  }
    
  }
  
  