.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 40px;
  margin: 0 auto;
  padding: 100px 0;
}

.pagination {
  height: 200px;
  
}
.container-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
.Filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
