.container-pagination{
    height: 200px;
}
.loading{
    height: 200px;
    background-color: red;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

