.navbar{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    background-color : #006092;
.search-nav{
    margin-left: auto;
    }
    .form-nav{
        
        margin-left: 15px;
   
   
        .button-nav{
            padding: 10px;
            border-radius: 10px;
            font-weight: 700;
            background-color: transparent;
            color: #fff;


        }
    }
    

}


